<p id="quem">
  <strong>Quem:</strong>
  Esta lição pressupõe que você possui conhecimento prático de R e alguma exposição prévia ao RStudio.
  Esses requisitos podem ser atendidos por meio de:
</p>
<ol type="a">
  <li>completar um <a href="https://carpentries-incubator.github.io/bioc-intro/">Workshop de Introdução ao R do Carpentries Bioconductor</a></li>
  <li>exposição independente ao R e RStudio</li>
</ol>
<p>
Além disso, esta lição pressupõe que os aprendizes têm alguma familiaridade com a transcrição de RNA e sequenciamento de alto rendimento.<br>
<br>
Os perfis de aprendizes de participantes hipotéticos do workshop de RNA-Seq podem ser encontrados nesta <a href="https://carpentries-incubator.github.io/bioc-rnaseq/profiles.html">página.</a><br>
<br>
Os participantes devem trazer seus próprios laptops e planejar participar ativamente.
</p>

{% comment %}
Todos os outros workshops
{% endcomment %}

{% else %}

<p id="quem">
  <strong>Quem:</strong>
  O curso é destinado a estudantes de pós-graduação e outros pesquisadores.
  <strong>
    Você não precisa ter conhecimento prévio das ferramentas
    que serão apresentadas no workshop.
  </strong>
</p>

{% endif %}
