<div class="row">
  <div class="col-md-6">
    <h3>Dia 1</h3>
    <table class="table table-striped">
      <tr>
        <td>Antes de começar</td>
        <td>Pré-workshop survey</td>
      </tr>
      <tr><td>Manhã</td> <td>Visão Geral do Workshop</td></tr>
      <tr><td> </td><td>Introdução ao RNA-seq</td></tr>
      <tr><td> </td><td>Design Experimental</td></tr>
      <tr><td>Tarde</td> <td>Importação e Anotação de Dados Quantificados no R</td> </tr>
      <tr><td></td><td>Análise Exploratória e Controle de Qualidade</td></tr>
      <tr> <td>Noite</td> <td>FIM</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Dia 2</h3>
    <table class="table table-striped">
      <tr> <td>Manhã</td><td>Análise de Expressão Diferencial (DEG analysis)</td></tr>
      <tr> <td>Tarde</td><td>Análise de Conjunto de Genes (GSEA and ORA)</td></tr>
      <tr> <td></td><td>Próximos Passos</td></tr>
      <tr> <td>Noite</td> <td>Questionário pós-workshop</td> </tr>
      <tr> <td> </td> <td> FIM </td> </tr>
    </table>
  </div>
</div>
